header {
    font-family: 'Arial', Times, serif, sans-serif;
    background-image: url("https://images.unsplash.com/photo-1498307833015-e7b400441eb8?q=80&w=2128&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    background-size: cover;
    background-position: center;
    height: 400px;
    width: 100%;     
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.7);
}

body {
    font-family: 'New Times Roman', serif, sans-serif;
    background-color: #ffffff;
    color: rgb(62, 5, 79);
    margin: 0px;
    padding: 0;
}

nav {
    background-color: rgba(2, 160, 160, 0.621);
    padding: 10px;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
}

nav a:hover {
    text-decoration: underline;
}

nav a.active {
    text-decoration: underline;
    font-weight: bold;
}

table {
    width: 100%;
    border-collapse: separate;
    margin: 50px 0;
    border-radius: 5px;
}

table, th, td {
    border: 1.5px solid rgb(8, 1, 6);
    text-align: center;
}

th, td {
    padding: 5px;
    text-align: center;
}

td {
    text-align: left;
}

th {
    background-color: rgba(53, 155, 159, 0.525);
}

main {
    margin: 25px;
}

form {
    max-width: 100%;
    margin: 20px;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background: #1d7d9359;
}

label {
    display: block;
    margin-top: 10px;
    font-weight: bold;
}

input, select, button {
    width: 100%;
    padding: 10px;
    padding-left: 0px;
    padding-right: 0px;
    margin-top: 5px;
    margin-bottom: 10px;
}

button {
    background: #184d65;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background: #0056b3;
}

#modal {
    display: none;
    position: fixed;
    top: 0; left: 0;
    width: 100%; height: 100%;
    background: rgba(0,0,0,0.8);
    justify-content: center;
    align-items: center;
}

#modal img {
    max-width: 80%;
    max-height: 80%;
}
